.hero {
  width: 100%;
  height: 70vh; // ajusta: 50–80vh según gusto
  background-image: url("/elevacionOriente2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
}

p {
  font-size: small;
}

.presentation {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding: 2rem 5rem;
  .photo {
    max-width: 30%;
    img {
      max-height: 250px;
      margin: 1rem;
    }
  }
  .text {
    h3 {
      font-size: xx-large;
      margin-bottom: 1rem;
    }
    p {
      font-size: small;
      margin-top: 1rem;
    }
  }
}

.education {
  padding: 2rem 5rem;
  h3 {
    background-color: var(--color-quaternary);
    color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    max-width: 50%;
  }
  .list {
    padding: 1rem 0rem;
    .item{
      padding-top: 1rem;
    }
    .title {
      display: flex;
      gap: 3rem;
      align-items: center;
    }
  }
}
