@use "../../../styles" as *;

.navbar {
  background-color: var(--color-surface);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 0rem 1rem;
  border-bottom: solid 1px var(--color-line);
  .logo {
    a {
      text-decoration: none;
      color: var(--color-text);
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
    }
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: var(--color-text);
        font-size: 1rem;
        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-text);
  display: flex;
  align-items: center;

  mat-icon {
    font-size: 24px;
    color: var(--color-text);
  }
}

