.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  .logo {
    a {
      text-decoration: none;
      color: #333;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
    }
  }
  .nav-links{
    display:flex;
    flex-direction: row;
    gap: 1rem;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: #333;
        font-size: 1rem;

      }
    }
  }
}
