<nav class="navbar">
  <div class="logo">
    <a href="/">Catarchitect</a>
  </div>

  <ul class="nav-links">
    <li>
      <a routerLink="/" routerLinkActive="active">Inicio</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">Acerca de</a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active">Contacto</a>
    </li>
    <li>
      <a routerLink="/projects" routerLinkActive="active">Proyectos</a>
    </li>
    <li>
      <a routerLink="/blog" routerLinkActive="active">Blog</a>
    </li>
  </ul>

  <button class="theme-toggle" (click)="toggleTheme()">
    <mat-icon>
      {{ isDark? 'lightbulb' : 'bedtime'}}
    </mat-icon>
  </button>
</nav>
